* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Proxima Nova', sans-serif;
}

body {
    background-color: white;
}

header {
    padding: 30px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

input {
    display: block;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 15px;
    font-size: 1.2em;
    transition: all .2s;
    color: rgba(0, 0, 0, .7);
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
}

input[type="text"]:focus {
    border: 1px solid mediumturquoise;
}

input[type="submit"] {
    display: inline-block;
    background-color: mediumseagreen;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 30px;
    transition: all .2s;
}

input[type="submit"]:hover {
    background-color: mediumspringgreen;
}

form > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

label > span {
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgba(0, 0, 0, .5);
    display: block;
    margin: 10px 0;
}


.main {
    max-width: 90%;
    margin: 0px auto;
}
.main__grid {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 5%;
}

.main h4 {
    margin: 30px 0;
}

.cars__table div {
    padding: 15px 25px;
}

.cars__table--header,
.cars__table--list > li{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cars__table--header {
    background-color: #151b26;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cars__table--header > div {
    font-weight: bold;
    color: white;
    display: block;
}

.cars__table--list li {
    background: rgba(0, 0, 0, .02);
    color: rgba(0, 0, 0, .7);
}

.cars__table--list li:nth-of-type(2n) {
    background: rgba(0, 0, 0, .05);
}

.cars__table--list li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
